.hero {
	height: 90vh;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.hero .lead {
	font-weight: 200;
	font-size: 1.5rem;
}
.hero h1 {
	letter-spacing: 100px;
}
// global icon colors
.v-icon, .svg-inline--fa {
	color: $silver;
}
.icon--deselected {
	color: $dove-gray;
}
.favorite {
	color: $turmeric;
}
.complete {
	color: $goblin;
}
// global button colors
.save {
	color: $curious-blue;
}
.remove {
	color: $cinnabar;
}